.formAnn{
    height: 100vh;
}

.bgN{
    background-color: #141414;
}

.bgL{
    background-color: #F0F0F0;
}
.pad {
    padding-top: 56px;
}

.button-18 {
    align-items: center;
    background-color: #822A69;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #5f1f4d;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #38122d;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }


.button-181 {
  align-items: center;
  background-color: #CD4D1E;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-181:hover,
.button-181:focus { 
  background-color: #943918;
  color: #ffffff;
}

.button-181:active {
  background: #461a0b;
  color: rgb(255, 255, 255, .7);
}

.button-181:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
  
.details {
    border: 1.5px solid #822A69;
    color: #822A69;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #822A69;
}

.cart {
    background-color: #CD4D1E;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px  #212121;
}



.cart:hover {
    background-color: #cd4d1e7a;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px  #212121;
}

.card {
    width: fit-content;
}

.card-body {
    width: fit-content;
}

.btn {
    border-radius: 0;
}

.img-thumbnail {
    border: none;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px;
}

.carouselD {
    width: 300px;
    height: 500px;
    
}

/* Show Announcements */
.show_announ{
  height: 100vh;
}

/* Index Announcements */
.index_announc{

  height: 80vh;
}

.index_announc_title{
  height: 20vh;
}


/* Footer */

.footer {
    background-color: #141414;
    color: #F0F0F0;
    height: 20vh;
    padding: 20px;
    text-align: center;
}