* {
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s;
}

.nav-link {
  transition: 0.3s;
}

.icon {
  transition: 0.3s;
}

.logo {
  
  height: 45px;
  width: 65px;
  object-fit: cover;
}

/* HEADER */

.head1{
  margin-top: 55px;
  height: 650px;
  width: 100%;
  border-radius: 20px;
  background-image:
    linear-gradient(to bottom, rgba(7, 7, 7, 0.359), rgba(25, 25, 25, 0.406)),url(/public/Media/shopping.jpg);
}

.head2{
  margin-top: 55px;
  height: 450px;
  width: 100%;
  border-radius: 20px;
  background-color: #D4D3CF;
  
}

.headTxt{
  position: relative;
  font-weight: 600;
  top: 20px;
  left: 10px;
  
}
.box{
  height: 300px;
  background-color: #822A69;
}

.miniBox1{
  margin-top: 20px;
  height: 180px;
  width: 48%;
  border-radius: 20px;
  background-image:linear-gradient(to bottom, rgba(7, 7, 7, 0.359), rgba(25, 25, 25, 0.406)), url(/public/Media/minibox1.jpg);
}

.miniBox2{
  margin-top: 20px;
  height: 180px;
  width: 48%;
  border-radius: 20px;
  background-image:linear-gradient(to bottom, rgba(7, 7, 7, 0.441), rgba(25, 25, 25, 0.526)), url(/public/Media/minibox2.jpg);
}

.hashtag{
  position: relative;
  
}

.spanHash{
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #d3d3d3;
  font-size: x-large;
  font-weight: 700;
}

/* FINE HEADER */
.masthead {
  height: 80vh;
  min-height: 500px;
  min-height: 100px;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Sezione categorie */
.cardcategory{
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: #D4D3CF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* login */
.login {
  min-height: 100vh;
}

.bg-image {

  background-size: cover; 
  background-position: center;
 
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

/* register */
.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
/* footer */
/* .bgfoo{
  background-color: #141414;
  width: 100% !;
}


.footer_area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 8px 48px 8px rgba(107, 0, 156, 0.175);
  padding:60px;
}
.footer_area .row {
  margin-left: -25px;
  margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
  padding-right: 25px;
  padding-left: 25px;
}

.single-footer-widget {
  position: relative;
  z-index: 1;
}
.single-footer-widget .copywrite-text a {
  color: #d3d3d3;
  font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
  color: #a200d3;
}
.single-footer-widget .widget-title {
  margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
  color: #ffffff;
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
  color: #a200d3;
}
.single-footer-widget .footer_menu li:last-child a {
  margin-bottom: 0;
}

.footer_social_area {
  position: relative;
  z-index: 1;
}
.footer_social_area a {
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px;
  display: inline-block;
  background-color: #f5f5ff;
  line-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 10px;
}
.footer_social_area a i {
  line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
  color: #ffffff;
}

.footer {
  position:absolute;
  bottom:100;
  left:0;
  width:100%;
  } */




.formAnn{
    height: 100vh;
}

.bgN{
    background-color: #141414;
}
/* #F0F0F0 */
.bgL{
    background-color:#F2F2F2 ; 
}
.pad {
    padding-top: 56px;
}

.button-18 {
    align-items: center;
    background-color: #822A69;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #5f1f4d;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #38122d;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }


.button-181 {
  align-items: center;
  background-color: #CD4D1E;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-181:hover,
.button-181:focus { 
  background-color: #943918;
  color: #ffffff;
}

.button-181:active {
  background: #461a0b;
  color: rgb(255, 255, 255, .7);
}

.button-181:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
  
.details {
    border: 1.5px solid #822A69;
    color: #822A69;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #822A69;
}

.cart {
    background-color: #CD4D1E;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px  #212121;
}



.cart:hover {
    background-color: #cd4d1e7a;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px  #212121;
}

.card {
    width: fit-content;
    
    
}

.card-body {
  width: fit-content;
    
}

.btn {
    border-radius: 0;
}

.img-thumbnail {
    border: none;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 20px !important;
    padding-bottom: 10px;
    
}

.carouselD {
    width: 300px;
    height: 500px;
    
}

/* Show Announcements */
.show_announ{
  height: 100vh;
}

/* Index Announcements */

.index_announc_title{
  height: 30vh;
}

/* Create Anouncement */

.headForm{
  
  height: 735px;
  width: 100%;
  border-radius: 20px;
  background-image:
    linear-gradient(to bottom, rgba(7, 7, 7, 0.359), rgba(25, 25, 25, 0.406)),url(/public/Media/shopping.jpg);
}


/* Footer */
/* 
.footer {
    background-color: #141414;
    color: #F0F0F0;
    width: 100%;
    height: 20vh;
    padding: 20px;
    text-align: center;
} */

/* .carousel{
  height: 400px;
 margin-left: 520px;
 margin-top: 100px;
  width: 280px;
} */

.column1 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.larg{
  width: 400px;
}

/* @media screen and (max-width: 600px) {
  .column1 {
    width: 50%;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 600px) {
  .larg {
    width: 50%;
    height: 50%;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 30px;
  }
} */
/* Media query */
@media only screen and (max-width: 768px) {
  .head1{
    display: none;
  }
}
@media only screen and (max-width: 1400px) {
  .img1{
    display: none;
  }
}



@media (min-width: 990px)
{
    .g-lg-5, .gx-lg-5 {
        --bs-gutter-x: 3rem;
    }
}
.g-4, .gx-4 {
    --bs-gutter-x: 1.5rem;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.search{
  width: 70%;
}

.foot{
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width: 100%;
  height: 250px;
}

.padUniversale{
  height: 65vh;
}

.bordo{
  border-radius: 20px;
}

@media only screen and (max-width: 768px){
  .drop-height{
    height: 300px;
    overflow: scroll;
  }
  .show_announ{
    height: 100vh;
    margin-top: 100px;
  }
}

.menu-flag{
  min-width: 0px !important;
}

